.card {
	border: 1px solid black;
	min-height: 300px;
	position: relative;
}

.selected {
	border: 5px dotted green;
	background-color: lightgray;
}

.price {
	position: absolute;
	bottom: 0;
	right: 0;
}